.page {
  /* smoothing fonts*/
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  /*adjusting*/
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;

  text-rendering: optimizeLegibility;


  padding-bottom: 1px;
  background: #2A2C2F;
  padding-top: 28px;
  font-family: 'Inter', 'Helvetica Neue', serif, sans-serif;
}


@media (max-width: 424px) {
  .page {
    max-width: 1280px;
    padding-top: 16px;
  }

}





