.description__paragraph {
  color: #ffffff;
}

/*widescreens over 1280*/
@media (min-width: 1281px) {
  .description__paragraph {
    padding: 0;
    margin: 0;
    text-align: left;
    max-width: 484px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 163%;
    margin-bottom: 28px;


  }

}


/*normal*/
@media (min-width: 1025px) and (max-width: 1280px) {
  .description__paragraph {
    padding: 0;
    margin: 0;
    text-align: left;
    max-width: 456px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 163%;
    margin-bottom: 28px;


  }

}

/*iPads & big phones*/
@media(min-width: 768px) and (max-width: 1024px) {
  .description__paragraph {
    padding: 0;
    margin: 0;
    text-align: left;
    max-width: 352px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 163%;
    margin-bottom: 28px;


  }
}

@media(min-width: 425px) and (max-width: 767px) {

  .description__paragraph {
    padding: 0;
    margin: 0;
    text-align: left;
    width: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 163%;
    margin-bottom: 28px;


  }


}



.description__paragraph:last-of-type {
  margin-bottom: 0px;
}

@media (max-width: 424px) {
.description__paragraph {
  padding: 0;
  margin: 0;
  text-align: left;
  width: 288px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 163%;
  margin-bottom: 28px;


}


}













