.lead {
  max-width: 984px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: flex-start;
  margin-bottom: 92px;
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .lead {
    max-width: 928px;
  }
}

/* iPad 768 - 1024 */
@media (min-width: 768px) and (max-width: 1023px) {
  .lead {
    max-width: 768px;
  }
}

/*Big Phone*/
@media (min-width: 425px) and (max-width: 767px) {
  .lead {
    max-width: 420px;
    margin-bottom: 56px;
  }
}

/* mobile */
@media (max-width: 425px) {
  .lead {
    max-width: 320px;
    margin-bottom: 64px;
  }
}
