.lead__title {
  text-rendering: optimizeLegibility;
}

/* Widescreen  1280px*/
@media (min-width: 1281px) {

  .lead__title {
    margin: 0;
    padding: 0;
    color: #fff;
    width: 720px;
    min-height: 200px;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
  }

}


/* normal screen 1024 - 1279*/
@media (max-width: 1280px) and (min-width: 1025px) {
  .lead__title {
    margin: 0;
    padding: 0;
    color: #fff;
    width: 720px;
    min-height: 200px;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
  }

}


/*768 - 1024 */
@media(min-width: 768px) and (max-width: 1024px) {

  .lead__title {
    margin: 0;
    padding: 0;
    color: #fff;
    width: 720px;
    min-height: 200px;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
  }


}

/*425 - 768 */
@media(min-width: 425px) and (max-width: 767px) {

  .lead__title {
    margin: 0;
    padding: 0;
    color: #fff;
    width: 425px;
    /*height: 153px;*/
    font-weight: 900;
    font-size: 40px;
    line-height: 44px;
    text-align: center;
  }


}


@media (max-width: 424px) {

  .lead__title {
    margin: 0;
    margin-bottom: 16px;
    margin-top: 48px;
    padding: 0;
    color: #fff;
    width: 288px;
    min-height: 88px;
    font-weight: 900;
    font-size: 40px;
    line-height: 44px;
    text-align: center;
  }


}



