.lead__title {
  text-rendering: optimizeLegibility;
  margin: 0;
  padding: 0;
  color: #fff;
  max-width: 720px;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
}

@media (min-width: 425px) and (max-width: 767px) {
  .lead__title {
    max-width: 425px;
    font-size: 40px;
    line-height: 44px;
  }
}

@media (max-width: 424px) {
  .lead__title {
    margin-bottom: 16px;
    margin-top: 48px;
    max-width: 288px;
    font-size: 40px;
    line-height: 44px;
  }


}



