.footer__copyright {

  padding: 0;
  margin: 0;
  width: 300px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-align: right;
  float: right;
  color: #ffffff;


}


@media (min-width: 425px) and (max-width: 767px) {

  .footer__copyright {
    width: 300px;
    text-align: start;
    margin-top: 48px;
    margin-bottom: 24px;

  }


}


@media (max-width: 424px) {
  .footer__copyright {
    margin: 48px 0 24px;
    width: 186px;
    text-align: left;
    font-size: 14px;
    line-height: 14px;

  }


}




