.intro__text {
  padding: 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  width: 690px;
  margin: 0 0 40px;
}






/*ipad*/
@media(min-width: 768px) and (max-width: 1024px) {
  .intro__text {
    padding: 0;
    font-weight: normal;
    font-size: 16px;
    line-height: 26.08px;
    color: #ffffff;
    width: 720px;
    margin: 0 0 40px;
  }
}


@media(min-width: 425px) and (max-width: 767px) {
  .intro__text {
    padding: 0;
    font-weight: normal;
    font-size: 16px;
    line-height: 163%;
    text-align: justify;
    color: #ffffff;
    width: 420px;
    margin: 0 auto 34px;
  }
}

@media (max-width: 424px) {

  .intro__text {
    padding: 0;
    font-weight: normal;
    font-size: 16px;
    line-height: 163%;
    text-align: justify;
    color: #ffffff;
    max-width: 288px;
    margin: 0 0 34px;
  }

}


