.intro__text {
  padding: 0;
  margin: 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 26.08px;
  color: #ffffff;
  width: 690px;
  height: 208px;
  margin-bottom: 40px;
}






/*ipad*/
@media(min-width: 768px) and (max-width: 1024px) {
  .intro__text {
    padding: 0;
    margin: 0;
    font-weight: normal;
    font-size: 16px;
    line-height: 26.08px;
    color: #ffffff;
    width: 720px;
    height: 208px;
    margin-bottom: 40px;
  }
}


@media(min-width: 425px) and (max-width: 767px) {
  .intro__text {
    padding: 0;
    margin: 0 auto;
    font-weight: normal;
    font-size: 16px;
    line-height: 163%;
    text-align: justify;
    color: #ffffff;
    width: 420px;
    /*max-width: calc(100vw - 16px);*/
    min-height: 380px;
    margin-bottom: 34px;
  }
}

@media (max-width: 424px) {

  .intro__text {
    padding: 0;
    margin: 0;
    font-weight: normal;
    font-size: 16px;
    line-height: 163%;
    text-align: justify;
    color: #ffffff;
    /*width: 720px;*/
    max-width: 288px;
    height: 520px;
    margin-bottom: 34px;
  }

}


