.intro {
  max-width: 690px;
  color: #ffffff;
  margin-bottom: 92px;
  align-self: flex-start;
}

@media (min-width: 1025px) and (max-width: 1279px) {
  .intro {
  }

}

@media (min-width: 769px) and (max-width: 1024px) {
  .intro {
    max-width: 720px;
    margin-bottom: 92px;
    align-self: center;

  }
}

@media (min-width: 425px) and (max-width: 768px) {

  .intro {
    /*max-width: calc(100%);*/
    max-width: 420px;
    margin-bottom: 64px;
    align-self: center;

  }

}

@media (max-width: 424px) {

  .intro {
    width: 288px;
    margin-bottom: 64px;
    align-self: center;

  }

}


