.cover__background {
  background: url("../../../images/cover-trains.jpg") no-repeat;
  background-size: 100% 100%;
  position: relative;



}


@media (min-width: 1280px) {

  .cover__background {
    width: 1184px;
    height: 740px;
    /*padding: 1px;*/

  }

}


@media (min-width: 1024px) and (max-width: 1279px) {

  .cover__background {
    width: 1024px;
    height: 640px;
    /*padding: 1px;*/

  }


}


@media (min-width: 768px) and (max-width: 1023px) {
  .cover__background {
    /*width: 768px;*/
    width: calc(100vw);
    height: 480px;
    /*padding: 1px;*/

  }



}

@media (min-width: 425px) and (max-width: 767px) {
  .cover__background {
    /*width: 425px;*/
    width: calc(100vw);
    height: 380px;
    /*padding: 1px;*/

  }



}



@media (max-width: 425px) {
  .cover__background {
    width: 320px;
    height: 280px;
    /*padding: 1px;*/

  }



}


.cover__background::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(42, 44, 47, 0.3);

}

.cover__background:hover::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(42, 44, 47, .8);
}