.cover__title {
  padding: 0;
  margin: 0 0 32px;
  max-width: 560px;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  color: #ffffff;
  text-align: center;
  position: relative;
}

@media (max-width: 767px) {
  .cover__title {
    margin-top: 30px;
    margin-bottom: 16px;
    max-width: 288px;
    font-size: 32px;
    line-height: 35px;
  }
}

