

@media (min-width: 1281px) {
  .places__place {
    max-width: 984px;
    min-height: 564px;
    margin-bottom: 80px;

    display: grid;
    grid-template-columns: 460px 484px;
    grid-template-rows: fit-content(152px) fit-content(460px);
    grid-auto-rows: 0px;
    gap: 48px 40px;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .places__place {
    max-width: 984px;
    min-height: auto;
    margin-bottom: 80px;

    display: grid;
    grid-template-columns: 460px 484px;
    grid-template-rows: fit-content(152px) max-content;
    grid-auto-rows: 0px;
    gap: 48px 40px;
  }
}

/*ipad*/
@media (min-width: 768px) and (max-width: 1024px) {

  .places__place {
    max-width: 720px;
    min-height: auto;
    margin-bottom: 73px;

    display: grid;
    grid-template-columns: 340px 352px;
    /*grid-template-rows: fit-content(152px) fit-content(600px);*/
    grid-template-rows: fit-content(152px) max-content;
    grid-auto-rows: 0;
    gap: 48px 28px;

    /
  }
}

/*duo*/
@media (min-width: 425px) and (max-width: 767px) {

  .places__place {
    width: 95vw;
    min-height: auto;
    margin-bottom: 60px;

    display: grid;
    grid-template-columns: repeat(2, fit-content(calc(100vw / 2 - 2px)));
    grid-template-rows: fit-content(152px) max-content;
    grid-auto-rows: 0px;
    gap: 15px 15px;
  }
}

/*phone*/
@media (max-width: 424px){

  .places__place {
    width: 320px;
    /*min-height: 1042px;*/
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}


