.footer {
  max-width: 1184px;
  min-height: 18px;
  color: #ffffff;
  margin: 0 auto 24px;
  display: flex;
  justify-content: space-between;

}


@media(min-width: 1025px) and (max-width: 1280px) {
  .footer {
    min-width: 1020px;
    margin-left: 16px;
    margin-right: 16px;

  }


}



@media(min-width: 768px) and (max-width: 1024px) {
  .footer {
    min-width: 720px;
    margin-left: 16px;
    margin-right: 16px;

  }


}



@media(min-width: 425px) and (max-width: 767px) {
.footer {
  max-width: 425px;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 0;
  flex-direction: column;

}


}


@media (max-width: 424px) {
.footer {
  padding: 0;
  width: 186px;
  min-height: 310px;
  margin: 0 0 0 16px;
  flex-direction: column;

}


}


