/*wide*/
.place__website {
  padding: 0;
  margin: 0;
  align-self: end;
  box-sizing: border-box;
}

/*normal*/
@media (min-width: 1024px) and (min-width: 1279px) {
  .place__website {
  }
}

/*ipad*/
@media (min-width: 768px) and (max-width: 1023px) {
  .place__website {
  }
}

@media (min-width: 521px) and (max-width: 767px) {
  .place__website {
  }
}

/*duo*/
@media (min-width: 425px) and (max-width: 520px) {
  .place__website {
    align-self: flex-start;
    margin-left: 16px;
  }
}

@media (max-width: 424px) {
  .place__website {
    align-self: flex-start;
    margin-left: 16px;
  }
}
